<ion-header>
    <ion-toolbar>
        <ion-title>
            Products
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-icon name="cart-outline" style="position: absolute; top: 30%;right: 15%; width:25px; height: 25px; color: black;" (click)="myCart()"></ion-icon>
        <ion-icon name="person-circle-outline" style="position: absolute; top: 30%;right: 4%; width:25px; height: 25px; color: black;" (click)="presentActionSheet()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar showCancelButton="focus" (ionChange)="serchValue($event)"></ion-searchbar>
    <ion-item>
        <ion-label>Filter</ion-label>
        <ion-select value="none" (ionChange)="selected($event)">
            <ion-select-option value="none">none</ion-select-option>
            <ion-select-option value="lowPrice">Low Price</ion-select-option>
            <ion-select-option value="highPrice">High Price</ion-select-option>
            <ion-select-option value="discounts">Discounts</ion-select-option>
        </ion-select>
    </ion-item>

    <div>

        <ion-card *ngFor="let product of products">
            <form #f="ngForm" (ngSubmit)="onSubmit(f, product.product_id, product.final_price)">
                <div class="top-container">
                    <ion-item>
                        <div class="discount-div" *ngIf="product.visibility">
                            <p>{{product.discount}}%</p>
                        </div>
                        <div class="image-div"><img src="./../../assets/{{product.image}}" alt=""></div>
                        <div class="info-div">
                            <div class="pricing-div" *ngIf="!product.visibility">
                                <ion-label>{{product.final_price}} L.L.</ion-label>
                            </div>
                            <div class="pricing-div" *ngIf="product.visibility" style="color: red;">
                                <ion-label>{{product.final_price}} L.L.</ion-label>
                            </div>
                            <div class="quantity-div">
                                <ion-item>
                                    <ion-label position="floating">Quantity</ion-label>
                                    <ion-input type="number" onkeypress="return event.charCode >= 48" min="0" placeholder="e.g. 2" ngModel name="qty"></ion-input>
                                </ion-item>
                                <div class="add-btn">
                                    <ion-button type="submit" fill="outline" color="success">Add</ion-button>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                </div>

                <ion-card-content>
                    {{product.product_name}}
                    <div class="t-qty-div" id="{{product.product_id}}"></div>
                </ion-card-content>
            </form>
        </ion-card>

    </div>
</ion-content>




<!-- <ion-icon name="add-circle-outline"></ion-icon>
<ion-icon name="remove-circle-outline"></ion-icon>
<ion-badge color="success">100</ion-badge> -->