<ion-header>
    <ion-toolbar>
        <ion-title>Sign Up</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="top-container">
        <ion-icon class="icon" name="person-circle"></ion-icon>
    </div>

    <div class="flex-container">

        <ion-item>
            <ion-label>First Name</ion-label>
            <ion-input placeholder="e.g. Will"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Last Name</ion-label>
            <ion-input placeholder="e.g. Smith"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="Email" placeholder="e.g. will_smith@gmail.com"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Username</ion-label>
            <ion-input placeholder="e.g. will_smith"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" placeholder="choose complex password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Confirm Password</ion-label>
            <ion-input type="password" placeholder="confirm password"></ion-input>
        </ion-item>

        <ion-button color="success">Submit</ion-button>
    </div>

</ion-content>