    ion-content {
        --background: URL("./../../assets/createAccountBG.jpg") no-repeat 0/190% 130%;
        position: relative;
    }
    
    ion-item,
    ion-button {
        border-radius: 10px;
        width: 95%;
        margin: 5px 0;
    }
    
    .top-container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        height: 100px;
    }
    
    .icon {
        fill: #396C83;
        width: 80px;
        height: 80px;
    }
    
    .flex-container {
        // background-color: yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 15%;
    }