ion-content {
    --background: URL("./../../assets/homeBG.jpg") no-repeat 0/120% 105%;
    // position: relative;
}

.spinner-container {
    background-color: rgba(0, 0, 0, 0.14);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    // top: 50%;
    // transform: translateY(-25%);
}