<ion-header>
    <ion-toolbar>
        <ion-title>
            Categories
        </ion-title>
        <ion-icon name="cart-outline" style="position: absolute; top: 15%;left: 80%; width:40px; height: 40px;" (click)="myCart()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="container">
        <ion-card style="--background: rgba(255, 201, 71, 0.72);;" (click)="action('beverages')">
            <ion-card-header>
                <ion-card-title>Beverages</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Water, Drinks, Soda, etc...
            </ion-card-content>
        </ion-card>

        <ion-card style="--background: rgba(239, 239, 239, 0.72);;" (click)="action('Bread/Bakery')">
            <ion-card-header>
                <ion-card-title>Bread/Bakery</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Bread, Bakery, Toast, french bread, etc...
            </ion-card-content>
        </ion-card>

        <ion-card style="--background: rgba(255, 188, 188, 0.72);" (click)="action('Cleaners')">
            <ion-card-header>
                <ion-card-title>Cleaners</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Household care, Fairy, Easy, towel, etc...
            </ion-card-content>
        </ion-card>

        <ion-card style="--background: rgba(181, 234, 234, 0.72);" (click)="action('Dairy')">
            <ion-card-header>
                <ion-card-title>Dairy</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Milk, Butter, Cheese, etc...
            </ion-card-content>
        </ion-card>

        <ion-card style="--background: rgba(0, 234, 211, 0.72);" (click)="action('Meat')">
            <ion-card-header>
                <ion-card-title>Meat</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Lunch Meat, Poultry, Beef, Psork, etc...
            </ion-card-content>
        </ion-card>

        <ion-card style="--background: rgba(255, 68, 159, 0.72);" (click)="action('Produce')">
            <ion-card-header>
                <ion-card-title>Produce</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Fruits, Vegetables, etc...
            </ion-card-content>
        </ion-card>
    </div>

    <div class="spinner-container" *ngIf="show">
        <ion-spinner name="lines"></ion-spinner>
    </div>
</ion-content>