<!-- <ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header> -->


<ion-content>

    <div class="header">
        <p id="h1">Let’s Shop </p>
        <p id="h2">Grocery shopping App</p>
    </div>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="flex-container">
            <ion-item>
                <ion-label position="floating">Username
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input name="user_name" ngModel></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input name="password" ngModel type="Password"></ion-input>
            </ion-item>
            <ion-button color="success" type="submit">Login</ion-button>
            <ion-button color="secondary" (click)="signUp()">Sign up</ion-button>
        </div>
    </form>

</ion-content>